<section class="section">
  <h1>Who I am</h1>
  <div class="offset-box-grid">
    <div class="box-item-top-left background-light-grey">
      I'm a freelance software developer. I believe in Rapid Application
      Development where building robust software quickly is the key to success.
    </div>
    <div class="box-item-top-right background-dark-grey">
      I am proud of what I do and respect values such as:
      <ul>
        <li>Integrity and Honesty</li>
        <li>Creativity and Innovation</li>
        <li>Collaboration and Respect</li>
        <li>Desire to share knowledge, achievements, and experiences</li>
        <li>Care about my colleagues and their quality of life</li>
      </ul>
    </div>
    <div class="box-item-bottom-left background-white">
      Left 2 akscjaksncakj askansxjnakxna aksxkansxjaskx
    </div>
    <div class="box-item-bottom-right background-blue">
      Right 2 aksnsadnknakas aks kjsand asknddna aksndkan
    </div>
  </div>
</section>
