<section class="section center">
  <h2 class="section__header">Who I am</h2>
  <h4 class="section__caption">The original full stack, remote contractor.</h4>
  <div class="center">
    <p class="center-text">
      I started coding when I was 15 years old. My dad was a programmer and
      asked me to help out on various projects. After meeting with customers and
      gathering requirements most work was completed at home. It was usually a
      full stack setup starting with good database design, some code, forms, and
      reports added on top. This was pre-internet so armed with our floppy disks
      back to the customers we would go.
    </p>
    <p class="center-text">
      Then came the internet, the dot com boom, and bust and I never looked
      back. I worked on various contracts in and around London and enjoyed
      working with the people I met. After a brief dabble with classic ASP along
      came ASP.NET which together with many other tools I've enjoyed working
      with ever since.
    </p>
    <p class="center-text">
      I believe in Rapid Application Development where building robust software
      quickly is the key to success. I am proud of what I do and respect values
      such as:
    </p>
    <ul class="list">
      <li>Integrity and Honesty</li>
      <li>Creativity and Innovation</li>
      <li>Collaboration and Respect</li>
      <li>Desire to share knowledge, achievements, and experiences</li>
      <li>Care about my colleagues and their quality of life</li>
    </ul>
  </div>
</section>
