<section class="section">
  <h2 class="section__header">Who I am</h2>
  <h4 class="section__caption">I am a software developer</h4>
  <div class="center">
    <p>
      I believe in Rapid Application Development where building robust software
      quickly is the key to success. I am proud of what I do and respect values
      such as:
    </p>
    <ul class="list">
      <li>Integrity and Honesty</li>
      <li>Creativity and Innovation</li>
      <li>Collaboration and Respect</li>
      <li>Desire to share knowledge, achievements, and experiences</li>
      <li>Care about my colleagues and their quality of life</li>
    </ul>
  </div>
</section>
