<section class="section">
  <h2 class="section__header center">Contact</h2>
  <table class="center-content">
    <tr>
      <td class="table-cell">
        <strong>Name:</strong>
      </td>
      <td class="table-cell">Conrad Parker</td>
    </tr>
    <tr>
      <td class="table-cell">
        <strong>Address:</strong>
      </td>
      <td class="table-cell">
        Urbanización Altamira 4f3, C. Magnolia,
        La Fustera-Carrions, Benissa, Alicante 03720, Spain
      </td>
    </tr>
    <tr>
      <td class="table-cell">
        <strong>Phone:</strong>
      </td>
      <td class="table-cell">+34 623 978 343</td>
    </tr>
    <tr>
      <td class="table-cell">
        <strong>Email:</strong>
      </td>
      <td class="table-cell">conrad@sunseasolutions.com</td>
    </tr>
  </table>
</section>
