<section class="section center">
  <h2 class="section__header">Links</h2>

  <div class="link-box">
    <h3>Linked In</h3>
    <a class="link" href="https://www.linkedin.com/in/conradjparker/">
      <img
        class="link__image"
        src="../images/linked-in.png"
        alt="Linked In"
        title="Linked In"
      /><span class="link__text"
        >https://www.linkedin.com/in/conradjparker</span
      >
    </a>
  </div>

  <div class="link-box">
    <h3>Github</h3>
    <a class="link" href="https://github.com/ConradParker">
      <img
        class="link__image"
        src="../images/github.png"
        alt="Github"
        title="Github Profile"
      /><span class="link__text">https://github.com/ConradParker</span>
    </a>
  </div>

  <div class="link-box">
    <h3>Code example</h3>
    <p>This site was built with Vanilla JS, HTML5 and CSS3</p>
    <a class="link" href="https://github.com/ConradParker/profile">
      <img
        class="link__image"
        src="../images/github.png"
        alt="Github"
        title="Github Profile"
      /><span class="link__text">https://github.com/ConradParker/Profile</span>
    </a>
  </div>

  <div class="link-box">
    <h3>My old website</h3>
    <p>I just couldn't bring it down!</p>
    <a class="link" href="https://archived.sunseasolutions.com">
      <img
        class="link__image"
        src="../images/sun.png"
        alt="My old site"
        title="My old site"
      /><span class="link__text">https://archived.sunseasolutions.com</span>
    </a>
  </div>
</section>
