<section class="section center">
  <h2 class="section__header">Links</h2>

  <div class="link-box">
    <h3>Github</h3>
    <a class="link" href="https://github.com/ConradParker">
      <img
        class="link__image"
        src="../images/github.png"
        alt="Github"
        title="Github Profile"
      /><span class="link__text">https://github.com/ConradParker</span>
    </a>
  </div>

  <div class="link-box">
    <h3>Code example</h3>
    <p>This site was built with Vanilla JS, HTML5 and CSS3</p>
    <a class="link" href="https://github.com/ConradParker/profile">
      <img
        class="link__image"
        src="../images/github.png"
        alt="Github"
        title="Github Profile"
      /><span class="link__text">https://github.com/ConradParker/Profile</span>
    </a>
  </div>
</section>
