<section class="section center">
  <h2 class="section__header">Skills</h2>
  <p class="section__caption">Some of the skills I use most.</p>
  <div class="skills-container">
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/csharp.svg"
            class="skill-title__icon"
          />
        </div>
        <h3>Languages</h3>
      </div>
      <p>C# - Javascript - Typescript - JSX</p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/dotnet.svg"
            class="skill-title__icon"
          />
        </div>
        <h3>Frameworks</h3>
      </div>
      <p>.NET Core - NextJS - AngularJS</p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/react.svg"
            class="skill-title__icon"
          />
        </div>
        <h3>Libraries</h3>
      </div>
      <p>React - Vue - JQuery</p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/azure.svg"
            class="skill-title__icon"
          />
        </div>
        <h3 class="skill-title__text">Backend</h3>
      </div>
      <p>Azure - SQL Server - Firestore</p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/jest.svg"
            class="skill-title__icon"
          />
        </div>
        <h3>Testing</h3>
      </div>
      <p>NUnit - MSTest - XUnit - Jest - Jasmine</p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img src="../../../images/skills/git.svg" class="skill-title__icon" />
        </div>
        <h3>Process</h3>
      </div>
      <p>Agile - Jira - Sprints - GIT - Subversion</p>
    </div>
  </div>
</section>
