<section class="section center">
  <h2 class="section__header">Skills</h2>
  <p class="section__caption">Some of the skills I use most.</p>
  <div class="skills-container">
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/dotnet.svg"
            class="skill-title__icon"
          />
        </div>
        <h3>.NET</h3>
      </div>
      <p>
        C# - .NET Core - ASP.NET - Entity Framework - LINQ - Web API - MVC -
        Razor
      </p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/react.svg"
            class="skill-title__icon"
          />
        </div>
        <h3>Javascript</h3>
      </div>
      <p>Vanilla - React - Vue - AngularJS - Typescript - JQuery</p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/azure.svg"
            class="skill-title__icon"
          />
        </div>
        <h3 class="skill-title__text">Azure</h3>
      </div>
      <p>Azure - Pipelines - DevOps - SQL Server</p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/jest.svg"
            class="skill-title__icon"
          />
        </div>
        <h3>Testing</h3>
      </div>
      <p>NUnit - MSTest - XUnit - Jest - Jasmine</p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img src="../../../images/skills/git.svg" class="skill-title__icon" />
        </div>
        <h3>Source Control</h3>
      </div>
      <p>GIT - Github - Subversion - Bitbucket - TFS</p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/jira.svg"
            class="skill-title__icon"
          />
        </div>
        <h3>Process</h3>
      </div>
      <p>CI/CD - TeamCity - Octopus Deploy - Agile - Kanban - Sprints - Jira</p>
    </div>
  </div>
</section>
