<section class="section center">
  <h2 class="section__header">Skills</h2>
  <p class="section__caption">Some of the skills I use most.</p>
  <div class="skills-container">
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/dotnet.svg"
            class="skill-title__icon"
          />
        </div>
        <h3>.NET</h3>
      </div>
      <p>
        C# &#183; .NET Core &#183; ASP.NET &#183; Entity Framework &#183; LINQ
        &#183; Web API &#183; MVC &#183; Razor &#183; Blazor
      </p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/react.svg"
            class="skill-title__icon"
          />
        </div>
        <h3>Javascript</h3>
      </div>
      <p>
        Vanilla JS &#183; React &#183; Vue &#183; AngularJS &#183; Typescript
        &#183; JQuery
      </p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/azure.svg"
            class="skill-title__icon"
          />
        </div>
        <h3 class="skill-title__text">Azure</h3>
      </div>
      <p>
        Azure &#183; Pipelines &#183; DevOps &#183; App Services &#183; SQL
        Server
      </p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/jest.svg"
            class="skill-title__icon"
          />
        </div>
        <h3>Testing</h3>
      </div>
      <p>NUnit &#183; MSTest &#183; XUnit &#183; Jest &#183; Jasmine</p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img src="../../../images/skills/git.svg" class="skill-title__icon" />
        </div>
        <h3>Source Control</h3>
      </div>
      <p>GIT &#183; Github &#183; Subversion &#183; Bitbucket &#183; TFS</p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/skills/jira.svg"
            class="skill-title__icon"
          />
        </div>
        <h3>Process</h3>
      </div>
      <p>
        CI/CD &#183; TeamCity &#183; Octopus Deploy &#183; Agile &#183; Kanban
        &#183; Sprints &#183; Jira
      </p>
    </div>
  </div>
</section>
