<section class="section center">
  <h2 class="section__header">Charts</h2>
  <div class="skills-container">
    <div class="skill-box">
      <div class="skill-title">
        <h3></h3>
      </div>
      <p></p>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <div class="skill-title__img">
          <img
            src="../../../images/charts/bitcoin-btc-logo.svg"
            class="skill-title__icon"
          />
        </div>
        <h3 id="title">Fear and Greed</h3>
      </div>
      <p id="number-container"></p>
      <div class="charts-container"></div>
    </div>
    <div class="skill-box">
      <div class="skill-title">
        <h3></h3>
      </div>
      <p></p>
    </div>
  </div>
</section>
