<section class="section">
  <h2 class="section__header">Projects</h2>
  <h4 class="section__caption">A few recent projects.</h4>
  <p>
    These are a few of my recent projects. I am proud of the work of and
    greatful for the the help of my colleages.
  </p>
  <div class="grid grid--responsive">
    <div class="grid-item">
      <img
        class="project__img"
        src="./images/elliot-for-water.png"
        alt="Elliot For Water"
      />
    </div>
    <div class="grid-item">
      <img
        class="project__img"
        src="./images/elliot-for-water.png"
        alt="Elliot For Water"
      />
    </div>
    <div class="grid-item">
      <img
        class="project__img"
        src="./images/elliot-for-water.png"
        alt="Elliot For Water"
      />
    </div>
  </div>
</section>
