/* ==================================================
   General Styles
================================================== */
:root {
  --primary-color: #fdb813;
  --secondary-color: #2f4858;
  --tertiary-color: #333;
  --quaternary-color: #666;
  --dark-grey-color: #666;
  --light-grey-color: #999;
  --white-color: #fff;
  --blue-color: blue;
  --black-color: #000;
  --main-font-color: #f2f2f2;
}
.document {
  height: 100%;
}
.page {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-font-color, #fff);
}
.content {
  flex: 1 0 auto;
  background-color: var(--tertiary-color);
}
.uppercase {
  text-transform: uppercase;
}
.inner-section {
  padding: 60px 60px;
}
.section__header {
  font-size: 48px;
}
.section__caption {
  font-weight: 300;
}
.grid {
  display: grid;
}
.grid--responsive {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}
.flex {
  display: flex;
}
.flex--down {
  display: flex;
  flex-direction: column;
}
.background-light-grey {
  background-color: var(--light-grey-color);
}
.background-dark-grey {
  background-color: var(--dark-grey-color);
}
.background-white {
  color: var(--black-color);
  background-color: var(--white-color);
}
.background-blue {
  background-color: var(--blue-color);
}

/* ==================================================
   Home page
================================================== */
.offset-box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'leftTopBox leftTopBox rightTopBox'
    'leftBottomBox rightBottomBox rightBottomBox';
}
.box-item-top-left {
  grid-area: leftTopBox;
  padding: 2em;
}
.box-item-top-right {
  grid-area: rightTopBox;
  padding: 2em;
}
.box-item-bottom-left {
  grid-area: leftBottomBox;
  padding: 2em;
}
.box-item-bottom-right {
  grid-area: rightBottomBox;
  padding: 2em;
}

.footer {
  flex-shrink: 0;
  background-color: var(--quaternary-color);
  color: white;
  text-align: center;
  padding: 2em;
}
.footer__link {
  color: white;
}
