<section class="section">
  <h2 class="section__header">Career</h2>
  <h4 class="section__caption">Timeline</h4>

  <div class="timeline">
    <div class="timeline__box timeline__box--left">
      <div class="timeline__content">
        <h2>May 2019 - May 2020</h2>
        <img
          class="timeline__image"
          src="../../../images/career/novicell.jpg"
          alt="Novicell"
          title="Novicell"
        />
        <p>
          Working in a team of developers to deliver a quoting and order
          application for complex cooling systems sold to customers such as
          Tescos, Aldi, Marks and Spencer, Sainsburys, Carrefour.
        </p>
      </div>
    </div>
    <div class="timeline__box timeline__box--right">
      <div class="timeline__content">
        <h2>May 2018 - May 2019</h2>
        <img
          class="timeline__image"
          src="../../../images/career/kustodian.png"
          alt="Kustodian"
          title="Kustodian"
        />
        <p>
          Developed an asset tracking and reporting system that supports
          processes operating in extreme environments.
        </p>
        <p>Delivered saleable plugins for a Danish finance system.</p>
      </div>
    </div>
    <div class="timeline__box timeline__box--left">
      <div class="timeline__content">
        <h2>2008 - 2018</h2>
        <img
          src="../../../images/career/Aspen-Grove-Solutions.png"
          alt="Aspen Grove Solutions"
          title="Aspen Grove Solutions"
        />
        <ul>
          <li>
            Led a team of developers in an agile environment to deliver a cross
            platform mobile app for Wells Fargo which passed the security
            acceptance review on first submission.
          </li>
          <li>
            Designed, built and delivered a scalable Continuous Integration and
            Delivery process which now deploys 100’s of production services.
          </li>
          <li>
            Working with multiple cross functional teams to develop and
            regularly ship software applications to support the business and
            it’s customers.
          </li>
        </ul>
      </div>
    </div>
    <div class="timeline__box timeline__box--right">
      <div class="timeline__content">
        <h2>1990 - 2008</h2>
        <p>
          Various Contracts in and around London.
        </p>
        <div class="flex-list">
          <img src="../../../images/career/BT-Logo.png" alt="BT" title="BT" />
          <img src="../../../images/career/scoot.jpg" alt="BT" title="BT" />
          <img
            src="../../../images/career/tmobile.jpg"
            alt="T-Mobile"
            title="T-Mobile"
          />
          <img
            src="../../../images/career/livenation.png"
            alt="Live Nation"
            title="Live Nation"
          />
          <img
            src="../../../images/career/serco.png"
            alt="Serco"
            title="Serco"
          />
          <img src="../../../images/career/emap.jpg" alt="Emap" title="Emap" />
          <img
            src="../../../images/career/williams-lea.jpg"
            alt="Williams Lea"
            title="Williams Lea"
          />
          <img
            src="../../../images/career/UxbridgeCollege.png"
            alt="Uxbridge College"
            title="Uxbridge College"
          />
        </div>
      </div>
    </div>
  </div>
</section>
