<section class="section center">
  <h2 class="section__header">My Career</h2>
  <p class="section__caption">Timeline</p>

  <div class="timeline">
    <div class="timeline__box timeline__box--right">
      <div class="timeline__content">
        <h2>June 2022 - present</h2>
        <img
          class="timeline__image"
          src="../../../images/career/pensionpartner.svg"
          alt="Pension Partner"
          title="Pension Partner"
        />
        <p class="timeline-text">
          Leading a team of developers to deliver a web version of some already
          successful pension calculation tools, and modeling software.
        </p>
      </div>
    </div>
    <div class="timeline__box timeline__box--left">
      <div class="timeline__content">
        <h2>Feb 2021 - June 2022</h2>
        <img
          class="timeline__image"
          src="../../../images/career/novicell.jpg"
          alt="Novicell"
          title="Novicell"
        />
        <p class="timeline-text">
          Working with various teams of developers to deliver various projects.
        </p>
      </div>
    </div>
    <div class="timeline__box timeline__box--right">
      <div class="timeline__content">
        <h2>May 2020 - Feb 2021</h2>
        <img
          class="timeline__image"
          src="../../../images/career/ElliotForWater.png"
          alt="elliot-for-water"
          title="Elliot For Water"
        />
        <p class="timeline-text">
          Working with a team of developers and designers to deliver a search
          engine. Using Azure (DevOps, App Services, SQL Databases), C#, .NET
          core, MVC, Razor, React Web API.
        </p>
      </div>
    </div>
    <div class="timeline__box timeline__box--left">
      <div class="timeline__content">
        <h2>May 2019 - May 2020</h2>
        <img
          class="timeline__image"
          src="../../../images/career/novicell.jpg"
          alt="Novicell"
          title="Novicell"
        />
        <p class="timeline-text">
          Working in a team of developers to deliver a quoting and order
          application for complex cooling systems sold to customers such as
          Tescos, Aldi, Marks and Spencer, Sainsburys, Carrefour.
        </p>
      </div>
    </div>
    <div class="timeline__box timeline__box--right">
      <div class="timeline__content">
        <h2>May 2018 - May 2019</h2>
        <img
          class="timeline__image"
          src="../../../images/career/kustodian.png"
          alt="Kustodian"
          title="Kustodian"
        />
        <p class="timeline-text">
          Developed an asset tracking and reporting system that supports
          processes operating in extreme environments.
        </p>
        <p class="timeline-text">
          Delivered saleable plugins for a Danish finance system.
        </p>
      </div>
    </div>
    <div class="timeline__box timeline__box--left">
      <div class="timeline__content">
        <h2>2008 - 2018</h2>
        <img
          src="../../../images/career/Aspen-Grove-Solutions.png"
          alt="Aspen Grove Solutions"
          title="Aspen Grove Solutions"
        />
        <p class="timeline-text">
          Led a team of developers in an agile environment to deliver a cross
          platform mobile app for Wells Fargo which passed the security
          acceptance review on first submission.
        </p>
        <p class="timeline-text">
          Designed, built and delivered a scalable Continuous Integration and
          Delivery process which now deploys 100’s of production services.
        </p>
        <p class="timeline-text">
          Took over an underperforming cross funcitonal team and turned it around
          so we were conistently delivering within estimates.
        </p>
      </div>
    </div>
    <div class="timeline__box timeline__box--right">
      <div class="timeline__content">
        <h2>1990 - 2008</h2>
        <p>Various contracts in and around London.</p>
        <div class="career-london">
          <div class="career-london__list">
            <div class="career-london__image">
              <img
                class="timeline__image"
                src="../../../images/career/BT_Logo.svg"
                alt="BT"
                title="BT"
              />
            </div>
            <div class="career-london__image">
              <img
                src="../../../images/career/scoot.jpg"
                alt="Scoot"
                title="Scoot"
              />
            </div>
            <div class="career-london__image">
              <img
                class="timeline__image"
                src="../../../images/career/livenation.png"
                alt="Live Nation"
                title="Live Nation"
              />
            </div>
            <div class="career-london__image">
              <img
                class="timeline__image"
                src="../../../images/career/tmobile.jpg"
                alt="T-Mobile"
                title="T-Mobile"
              />
            </div>
            <div class="career-london__image">
              <img
                class="timeline__image"
                src="../../../images/career/emap.jpg"
                alt="Emap"
                title="Emap"
              />
            </div>
            <div class="career-london__image">
              <img
                class="timeline__image"
                src="../../../images/career/serco.png"
                alt="Serco"
                title="Serco"
              />
            </div>
            <div class="career-london__image">
              <img
                class="timeline__image"
                src="../../../images/career/williams-lea.jpg"
                alt="Williams Lea"
                title="Williams Lea"
              />
            </div>
            <div class="career-london__image">
              <img
                class="timeline__image"
                src="../../../images/career/UxbridgeCollege.png"
                alt="Uxbridge College"
                title="Uxbridge College"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
